<h1>The Gym Simulation</h1>

<p>
IF, in the morning:
</p>
<ul>
  <li>the weights are perfectly racked: each dumbell in a labelled slot that corresponds to the weight of the dumbell, AND</li>
  <li>EVERY attendee of the gym endevours to return his weights to the correct slot</li>
</ul>
<p>
THEN, oh what a perfect world it would be.

However, as can be seen by running the simulations below in order, it only takes a few morons to ruin it   for everyone.
Like so many things in life ... :P
</p>

<h2>Simulatons Primer</h2>
<p>
In the simulations below, the following clarifications will help you understand what is going on:
</p>
<ul>
  <li>the Green guys are "AverageJoes", they will put the dumbells in the correct slots if they are available. If the correct slot is not available, they will use the first available slot.</li>
  <li>The Red guys are "Randoms", they put the weights back in random slots, with no regard for the correct placement. May they hurt their back while squatting!</li>
</ul>

<h2>Simulatons/Scenarios</h2>

<ul>
  <li><a ui-sref="simulation({simulationId: 'ideal'})">Ideal Scenario</a></li>
  <li><a ui-sref="simulation({simulationId: 'onebadapple'})">1/5 Bad Apple Scenario</a></li>
  <li><a ui-sref="simulation({simulationId: 'twobadapple'})">2/5 Bad Apple Scenario</a></li>
  <li><a ui-sref="simulation({simulationId: 'threebadapple'})">3/5 Bad Apple Scenario</a></li>
  <li><a ui-sref="simulation({simulationId: 'fullrandom'})">Full Random!</a></li>
</ul>
